Repository DeadWaveWave/waveforge: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, vitest related --run

.lintstagedrc.json:

{
  "*.{ts,js,json,md}": ["prettier --write"],
  "*.{ts,js}": ["eslint --fix"],
  "src/**/*.ts": ["vitest related --run"]
}

feat: 增强工具输入模式的 Schema 规范化和示例生成
  src/server.ts
  src/tools/schemas.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: 新增端到端烟雾测试脚本，增强项目连接和任务初始化验证
  scripts/e2e-smoke.mjs
  scripts/e2e-smoke.ts
  src/core/project-manager.ts
  src/core/project-registry.ts
  src/core/task-manager.ts
  src/tests/deep-e2e-test.test.ts
  src/tests/design-consistency-verification.test.ts
  src/tests/task-e2e-user-workflow.test.ts
  src/tools/multi-task-tools.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: 更新工具描述以增强用户理解和使用指导
  src/tools/handshake-tools.ts
  src/tools/schemas.ts
Due: prettier --write, eslint --fix, vitest related --run

fix: improve error handling in active project reading
  src/core/task-manager.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: enhance main function execution logic with path normalization
  src/server.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: add .gitignore file to exclude specific project directories and files
  .wave/.gitignore
Due: none

0.1.1
  package.json
Due: prettier --write

refactor: update tool descriptions for clarity
  src/tools/task-tools-modify.test.ts
  src/tools/task-tools.test.ts
Due: prettier --write, eslint --fix, vitest related --run

feat: update README and usage documentation for MCP client configuration
  README.md
  README.zh-CN.md
  USAGE.md
  docs/quick-start.md
  docs/quick-start.zh-CN.md
Due: prettier --write
